
<%- include("../partials/header") %>

<div class="info-feedback">
    <div class="detail-clock"><%- include("../partials/time") %></div>
    <p id="timestamp">No feedback yet.</p>
      <div class="word">
        <div class="parking-situation-meter">
            <div class="positive-feedback" id="green"></div>
            <div class="negative-feedback" id="red"></div>
        </div>
        <div class="status-text" id="statusText">Possibility: AVAILABLE</div>
        <p class="parking-area-name"><%= parkingArea.name %></p>
        <div class="gmaps_link">
        <p><a href="<%= parkingArea.google_maps_link %>"><img src="/img/maps_logo.png" alt="maps_photo"></a></p>
        </div>
    </div>
    <h2 class="question-prompt">Did you find a parking space?</h2>
    <div class="like">
        <i class='bx bx-like like-icon'></i>
        <i class='bx bx-dislike dislike-icon' ></i>
    </div>
    <div class="alternative-box" style="display: none;">
        <div class="alternative-header">
            <h4>Alternative parking locations near you </h4>
            <button class="close-button">&times;</button>
        </div>
        <div class="parking-list" id="parking-list"></div>
    </div>
    <input type="hidden" value="<%= parkingArea.id %>" id="parkingId">
    <div class="checkTime">
        <P id="toggleTime">Check Parking Situation by time</P>
    </div>
    <div class="time" style="display: none;">
        <div class="time-period">
            <h3>07:00 to 10:00</h3>
            <div class="car-img">
                <img src='/img/red-car.png' class="red-car" style="display: none;">
                <img src='/img/yellow-car.png' class="yellow-car" style="display: none;">
                <img src='/img/green-car.png' class="green-car" style="display: none;"> 
            </div>
        </div>
        <div class="time-period">
            <h3>10:00 to 12:00</h3>
            <div class="car-img">
                <img src='/img/red-car.png' class="red-car" style="display: none;">
                <img src='/img/yellow-car.png' class="yellow-car" style="display: none;">
                <img src='/img/green-car.png' class="green-car" style="display: none;"> 
            </div>
        </div>
        <div class="time-period">
            <h3>12.01 to 14.00</h3>
            <div class="car-img">
                <img src='/img/red-car.png' class="red-car" style="display: none;">
                <img src='/img/yellow-car.png' class="yellow-car" style="display: none;">
                <img src='/img/green-car.png' class="green-car" style="display: none;"> 
            </div>
        </div>
        <div class="time-period">
            <h3>14.01 to 16.00</h3>
            <div class="car-img">
                <img src='/img/red-car.png' class="red-car" style="display: none;">
                <img src='/img/yellow-car.png' class="yellow-car" style="display: none;">
                <img src='/img/green-car.png' class="green-car" style="display: none;"> 
            </div>
        </div>
        <div class="time-period">
            <h3>16.01 to 18.00</h3>
            <div class="car-img">
                <img src='/img/red-car.png' class="red-car" style="display: none;">
                <img src='/img/yellow-car.png' class="yellow-car" style="display: none;">
                <img src='/img/green-car.png' class="green-car" style="display: none;"> 
            </div>
        </div>
        <div class="time-period">
            <h3>Beyond 18:00</h3>
            <div class="car-img">
                <img src='/img/red-car.png' class="red-car" style="display: none;">
                <img src='/img/yellow-car.png' class="yellow-car" style="display: none;">
                <img src='/img/green-car.png' class="green-car" style="display: none;"> 
            </div>
        </div>
    </div>
    <div id="location-prompt" class="location-prompt-overlay" style="display:none;">
        <div class="overlay-content">
            <button class="close-button">&times;</button>    
                <p>Would you like to save your parking location?</p>
                <div class="button-container">
                    <button class="yes">Yes</button>
                    <button class="no">No</button>
                </div>
            </div>
        </div>
        <div id="alternative-prompt" class="alternative-prompt-overlay" style="display:none;">
            <div class="alternative-overlay-content">
                <button class="close-button">&times;</button>    
            <p>Would you like to see alternative parking area near your location?</p>
                <div class="alternative-button-container">
                <button class="yes">Yes</button>
                <button class="no">No</button>
            </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
<script src="/js/feedback.js"></script>
